$black-color: #171a23;
$light-blue-color: #27d1ce;
$white-color: #fff;
$lg-2-color: linear-gradient(90deg, #f5318d 0%, #ff5f41 96.67%);
$lg-2-reverse-color: linear-gradient(90deg, #ff5f41 0%, #f5318d 96.67%);
$lg-3-color: linear-gradient(90deg, #f5318d 0%, #ff5f41 49.27%, #ef9f30 100%);
